@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
.ion-create,.ion-android-search,.ion-android-apps,.ion-search:before,.ion-eye:before ,.ion-chatbubble:before,.ion-thumbsup:before { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.ion-thumbsup:before { content: "\f251"; }
.ion-chatbubble:before { content: "\f11e"}
.ion-eye:before { content: "\f133"; }
.ion-android-apps:before { content: "\f35c"; }
.ion-search:before { content: "\f21f"; }
.ion-android-search:before { content: "\f2f5"; }
.ion-create:before{content: "\f37e"}
.icon {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    border-radius: 5%; }
.font45{
    font-size:45px;}
.icon.color-grey {
    background: #c8c8c4; }
.icon.color-grey span {
    color: #7e7780; }
.icon.color-2 {
    background: #ebfdf4; }
.icon.color-2 span {
    color: #79efb4; }
.icon.color-3 {
    background: #fce7f1; }
.icon.color-3 span {
    color: #ee76ad; }
.icon.color-4 {
    background: #fdf2ea; }
.icon.color-4 span {
    color: #efac78; }
